[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.0.3"
django-widget-tweaks = "*"
python-decouple = "*"
xhtml2pdf = "==0.2.5"
faker = "*"

[requires]
python_version = "3.7"
