{% extends "base.html" %}
{% load static %}
{% block header %}

{% include "nav.html" %}

{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<div class="row">

    <div class="col-md-12">
        <div class="row justify-content-between">
            <div class="col-auto">
                <a href=" {% url 'export_csv' %}" class="btn btn-primary" role="button" target="_blank">
                    Export as CSV
                </a>
            </div>
            <div class="col-auto">
                <div class=" form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" data-filter="status" id="inlineCheckbox1"
                        value="paid">
                    <label class="form-check-label" for="inlineCheckbox1">Paid</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" data-filter="status" id="inlineCheckbox2"
                        value="unpaid">
                    <label class="form-check-label" for="inlineCheckbox2">Unpaid</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" data-filter="status" id="inlineCheckbox3"
                        value="due">
                    <label class="form-check-label" for="inlineCheckbox3">Due</label>
                </div>

            </div>
        </div>
        <br>
        <br>
        <table class="table-responsive table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th style="width:2%" class="index" scope="col">#</th>
                    <th style="width:15%" class="name" scope="col">Name</th>
                    <th style="width:20%" class="address" scope="col">Address</th>
                    <th style="width:15%" class="email" scope="col">Email</th>
                    <th style="width:20%" class="date" scope="col">Date Span</th>
                    <th style="width:5%" class="hour" scope="col">Working hour</th>
                    <th style="width:5%" class="per_hour" scope="col">$/hour</th>
                    <th style="width:8%" class="salary" scope="col">Total Salary</th>
                    <th style="width:4%" class="status" scope="col">Status</th>
                    <th style="width:4%" class="manage" scope="col">Manage</th>
                    <th style="width:2%" class="pdf" scope="col">PDF</th>
                </tr>
            </thead>
            <tbody id="table_data">
                {% include 'invoice_table.html' %}
            </tbody>
        </table>
    </div>

</div>



</div>





{% endblock %}


{% block javascript %}
<script src="{% static 'InvoiceApp/home.js' %}"></script>
{% endblock %}