{% for invoice in invoices %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ invoice.name }}</td>
                    <td>{{ invoice.address }}</td>
                    <td>{{ invoice.email }}</td>
                    <td>{{ invoice.start_date }}-{{ invoice.end_date }}</td>
                    <td>{{ invoice.hours}}</td>
                    <td>{{ invoice.salary_per_hour}}</td>
                    <td>{{ invoice.total_salary }}</td>
                    <td>{{ invoice.status }}</td>
                    <td><a href="{{ invoice.get_absolute_url }}"><i class="bi bi-pencil-square"></i>| <a
                            href="{% url 'delete_invoice' invoice.id %}"><i class="bi bi-trash-fill"></i></a>
                    </td>
                    <td><a href="{% url 'generate_pdf' invoice.id %}"><i class="bi bi-file-earmark-pdf"></i> </a></td>

                </tr>
{% endfor %}